## Week two test

1. First, import the primary care physicians dataset (`primary_care_physicians.csv`) into a data frame named `physicians`.

In [1]:
import pandas as pd

In [2]:
physicians = pd.read_csv('../data/primary_care_physicians.csv')

 2. Filter `physicians` down to just the counties in Tennessee. Save the filtered dataframe back to `physicians`. Verify that the resulting dataframe has 95 rows.

In [3]:
physicians.loc[physicians['state'] == 'Tennessee']

       FIPS      state      county  primary_care_physicians
2432  47001  Tennessee    Anderson                     39.0
2433  47003  Tennessee     Bedford                     15.0
2434  47005  Tennessee      Benton                      3.0
2435  47007  Tennessee     Bledsoe                      1.0
2436  47009  Tennessee      Blount                     90.0
...     ...        ...         ...                      ...
2522  47181  Tennessee       Wayne                      5.0
2523  47183  Tennessee     Weakley                     18.0
2524  47185  Tennessee       White                      9.0
2525  47187  Tennessee  Williamson                    338.0
2526  47189  Tennessee      Wilson                     43.0

[95 rows x 4 columns]

In [4]:
physicians = physicians.loc[physicians['state'] == 'Tennessee']
physicians.head(2)

       FIPS      state    county  primary_care_physicians
2432  47001  Tennessee  Anderson                     39.0
2433  47003  Tennessee   Bedford                     15.0

 3. Look at the distribution of the number of primary care physicians. What do you notice?

4. Now, import the population by county dataset (`population_by_county.csv`) into a DataFrame named `population`.

In [5]:
population = pd.read_csv('../data/population_by_county.csv')

In [6]:
population.head(5)

    FIPS  population          county     state  urban
0  17051       21565  Fayette County  ILLINOIS  Rural
1  17107       29003    Logan County  ILLINOIS  Rural
2  17165       23994   Saline County  ILLINOIS  Rural
3  17097      701473     Lake County  ILLINOIS  Urban
4  17127       14219   Massac County  ILLINOIS  Rural

5. Merge the `physicians` DataFrame with the `population` DataFrame. Keep only the values for Tennessee. When you merge, be sure the include both the `population` and `urban` columns in the merged results. Save the result of the merge back to `physicians`.

In [7]:
physicians['state'] = physicians['state'].str.upper()
physicians.head()

       FIPS      state    county  primary_care_physicians
2432  47001  TENNESSEE  Anderson                     39.0
2433  47003  TENNESSEE   Bedford                     15.0
2434  47005  TENNESSEE    Benton                      3.0
2435  47007  TENNESSEE   Bledsoe                      1.0
2436  47009  TENNESSEE    Blount                     90.0

In [8]:
physicians = pd.merge(left = population, right = physicians, on = 'FIPS')
physicians.head()

,FIPS,population,county_x,state_x,urban,state_y,county_y,primary_care_physicians
0,47165,183437,Sumner County,TENNESSEE,Urban,TENNESSEE,Sumner,91.0
1,47169,10231,Trousdale County,TENNESSEE,Urban,TENNESSEE,Trousdale,2.0
2,47027,7654,Clay County,TENNESSEE,Rural,TENNESSEE,Clay,2.0
3,47157,936374,Shelby County,TENNESSEE,Urban,TENNESSEE,Shelby,806.0
4,47077,27977,Henderson County,TENNESSEE,Rural,TENNESSEE,Henderson,7.0

6. How many Tennessee counties are considered urban?
Answer:38

In [9]:
 urban_list = physicians.loc[(physicians['urban'] == 'Urban')]
urban_list.shape

(38, 8)

In [10]:
physicians['urban'].value_counts()

Rural    57
Urban    38
Name: urban, dtype: int64

In [11]:
physicians = physicians[['population', 'urban', 'primary_care_physicians']]
physicians.head()

   population  urban  primary_care_physicians
0      183437  Urban                     91.0
1       10231  Urban                      2.0
2        7654  Rural                      2.0
3      936374  Urban                    806.0
4       27977  Rural                      7.0

How many Tennessee counties are considered urban?
Answer:38

7. The State Health Access Data Assistance Center (SHADAC) (https://www.shadac.org/) classifies counties into three groups based on the number of residents per primary care physician. First, counties with fewer than 1500 residents per primary care physician are considered to have an "adequate" supply. Counties with at least 1500 residents but fewer than 3500 residents per primary care physician are considered to have a "moderately inadequate" supply, and counties with at least 3500 residents per primary care physician are considered to have a "low inadequate" supply. How many counties in Tennessee are in each group?
"adequate" = 14; low inadequate = 31; moderately inadequate=50

In [12]:
adequate = pd.DataFrame(physicians['population'] / physicians['primary_care_physicians'] <= 1500)
adequate.value_counts()

False    81
True     14
dtype: int64

In [19]:
low_inadequate = pd.DataFrame((physicians['population'] / physicians['primary_care_physicians'] >=3500), columns = ['low_inadequate'])
low_inadequate.head()
low_inadequate.value_counts()

low_inadequate
False             64
True              31
dtype: int64

In [22]:
moderately_inadequate = 95-14-31
print(moderately_inadequate)

50

"adequate" = 14
low inadequate = 31
moderately inadequate=50

8.Does there appear to be any detectable relationship between whether a county is urban or rural and its supply of primary care physicians?
no

In [26]:
physicians_rate = pd.DataFrame(physicians['population'] / physicians['primary_care_physicians'], columns = ['ratio'])

physicians_rate.head()

         ratio
0  2015.791209
1  5115.500000
2  3827.000000
3  1161.754342
4  3996.714286

In [27]:
result = pd.concat([physicians, physicians_rate], axis=1)
result.head()

   population  urban  primary_care_physicians        ratio
0      183437  Urban                     91.0  2015.791209
1       10231  Urban                      2.0  5115.500000
2        7654  Rural                      2.0  3827.000000
3      936374  Urban                    806.0  1161.754342
4       27977  Rural                      7.0  3996.714286

In [37]:
low = result.loc[(result['ratio'] >= 3500) ]
low.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 1 to 93
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   population               31 non-null     int64
 1   urban                    31 non-null     object
 2   primary_care_physicians  31 non-null     float64
 3   ratio                    31 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.2+ KB

In [44]:
result[(result['ratio'] <= 1500)]

    population  urban  primary_care_physicians        ratio
3       936374  Urban                    806.0  1161.754342
8       687488  Urban                    665.0  1033.816541
20      360919  Urban                    403.0   895.580645
23      157050  Urban                    199.0   789.195980
38      127805  Urban                    226.0   565.508850
46       55209  Rural                     37.0  1492.135135
56      129927  Urban                     90.0  1443.633333
63       97625  Urban                    129.0   756.782946
68      225389  Urban                    338.0   666.831361
71       59216  Rural                     40.0  1480.400000
73       31732  Rural                     23.0  1379.652174
76       77447  Rural                     52.0  1489.365385
91       32284  Rural                     22.0  1467.454545
94      461104  Urban                    520.0   886.738462

In [45]:
result[(result['ratio'] >= 3500)]

    population  urban  primary_care_physicians         ratio
1        10231  Urban                      2.0  5.115500e+03
2         7654  Rural                      2.0  3.827000e+03
4        27977  Rural                      7.0  3.996714e+03
9         7962  Rural                      2.0  3.981000e+03
11       17623  Rural                      5.0  3.524600e+03
13       13344  Rural                      0.0           inf
16       12027  Rural                      2.0  6.013500e+03
18       61447  Urban                     17.0  3.614529e+03
25       32965  Rural                      5.0  6.593000e+03
31       25443  Rural                      4.0  6.360750e+03
40       16140  Rural                      3.0  5.380000e+03
41       14836  Rural                      1.0  1.483600e+04
43       14178  Urban                      3.0  4.726000e+03
44        8164  Rural                      2.0  4.082000e+03
48        6587  Rural                      1.0  6.587000e+03
49       56611  Urban                     15.0  3.774067e+03
52       23842  Urban                      4.0  5.960500e+03
53        6378  Rural                      1.0  6.378000e+03
59       23101  Urban                      5.0  4.620200e+03
61       25989  Rural                      2.0  1.299450e+04
72        5760  Rural                      0.0           inf
74       24813  Urban                      5.0  4.962600e+03
75       18435  Rural                      5.0  3.687000e+03
78       13427  Urban                      1.0  1.342700e+04
79       17190  Urban                      4.0  4.297500e+03
81       11682  Rural                      2.0  5.841000e+03
86       19488  Urban                      3.0  6.496000e+03
89       21545  Rural                      3.0  7.181667e+03
90       46064  Rural                      9.0  5.118222e+03
92       14399  Rural                      0.0           inf
93        7401  Rural                      0.0           inf

In [46]:
result[(result['ratio'] <= 3500) & (result['ratio'] >= 1500)]

    population  urban  primary_care_physicians        ratio
0       183437  Urban                     91.0  2015.791209
5        53679  Urban                     21.0  2556.142857
6        14816  Urban                      5.0  2963.200000
7        27886  Rural                     12.0  2323.833333
10       12104  Rural                      6.0  2017.333333
12      200180  Urban                     82.0  2441.219512
14       35552  Rural                     16.0  2222.000000
15       19847  Rural                      9.0  2205.222222
17       30365  Rural                     14.0  2168.928571
19       37416  Rural                     14.0  2672.571429
21       16814  Urban                      8.0  2101.750000
22       26800  Rural                      9.0  2977.777778
24       53053  Rural                     26.0  2040.500000
26       32719  Rural                     12.0  2726.583333
27       21969  Rural                      8.0  2746.125000
28       76061  Urban                     39.0  1950.282051
29       18213  Rural                     10.0  1821.300000
30       49228  Rural                     21.0  2344.190476
32       52340  Urban                     30.0  1744.666667
33      315815  Urban                    137.0  2305.218978
34       19740  Urban                      9.0  2193.333333
35      136666  Urban                     43.0  3178.279070
36       17811  Urban                      6.0  2968.500000
37       40702  Rural                     21.0  1938.190476
39       33510  Rural                     18.0  1861.666667
42       39797  Rural                     19.0  2094.578947
45       91976  Rural                     53.0  1735.396226
47       40164  Urban                     15.0  2677.600000
50       17753  Rural                      6.0  2958.833333
51       33924  Rural                     18.0  1884.666667
54       70280  Urban                     26.0  2703.076923
55       41725  Rural                     27.0  1545.370370
57       40181  Urban                     23.0  1747.000000
58       56433  Urban                     22.0  2565.136364
60       29285  Rural                     11.0  2662.272727
62       43390  Rural                     18.0  2410.555556
64       28538  Urban                     12.0  2378.166667
65       22068  Rural                     12.0  1839.000000
66        5079  Rural                      2.0  2539.500000
67       16693  Rural                      5.0  3338.600000
69       48292  Rural                     15.0  3219.466667
70       68834  Rural                     39.0  1764.974359
77       97068  Rural                     38.0  2554.421053
80       11686  Rural                      4.0  2921.500000
82       25844  Rural                      9.0  2871.555556
83       53075  Rural                     18.0  2948.611111
84      105749  Urban                     55.0  1922.709091
85       64132  Urban                     38.0  1687.684211
87       25715  Rural                     13.0  1978.076923
88       52680  Urban                     19.0  2772.631579